ansible
ansible-core
asgiref
certifi
cffi
chardet
click
configparser
cron-descriptor
cron_descriptor
croniter
crontab
cryptography
cx-Oracle
cycler
Django
django-cors-headers
django-health-check
django-rq
django-taggit
et-xmlfile
idna
jdcal
Jinja2
kiwisolver
ldap3
MarkupSafe
matplotlib
mysql-server-has-gone-away
mysqlclient
Naked
natsort
numpy
openpyxl
packaging
pandas
Pillow
psutil
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
pycryptodome
PyMySQL
pymysql-pooling
pyparsing
python-dateutil
pytz
PyYAML
redis
requests
resolvelib
rq
rq-scheduler
shellescape
six
sqlparse
tabulate
urllib3
XlsxWriter
xmltodict